<h1> Qover me! </h1>
  <%- policyPrice.universalPrice %>
  <%- policyPrice.globalPrice %>

  <%- policyPrice.universalPriceMonthly %>
  <%- policyPrice.globalPriceMonthly %>

  <a href="/users/logout">Logout</a>
</div>